
h1,h2 {
    padding: 10px;
    display: flex;
    justify-content: start;
    font-weight: bolder;
    color: #132330;
    max-width: 50%;
    margin: auto;
}

p,li{
    display: flex;
    color: #667786;
    max-width: 50%;
    margin: auto;
}