html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color:#E1E2E1;
    color: #667786;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 74px;
}

.container-fluid {
    margin: 0;
}

h1,h2 ,h3 {
    color: #132330;
}

p {
    text-align: justify;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: x-large;
}

.home-page-text h2 {
    font-size: 2.5rem;
    text-align: right;
}

.home-page-text p {
    font-size: 1.4rem;
    margin-right: 0;
    text-align: right;
}

div.order-1 h2,
div.order-1 p{
    margin-left: 0;
    text-align: left;
}

.content {
    margin-top: 80px;
}

#headingGroup h1 {
    font-size: 3.5rem;
}

.home-block {
    padding-left: 0;
    padding-right: 0;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.contacts-links img {
    height: 3.2rem;
    width: 3.2rem;
    transition: transform .2s; /* Animation */
}

#gmail-logo {
    height: 4rem;
    width: 4rem;
}

.contacts-links img:hover {
    transform: scale(1.5);
}

.contact-div {
    text-align: center;
}

img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}




@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }

    .home-page-text h2 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .home-page-text p {
        font-size: 1.1rem;
    }
}
