html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color:#E1E2E1;
    color: #667786;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 74px;
}

.container-fluid {
    margin: 0;
}

h1,h2 {
    color: #132330;
}

p {
    text-align: justify;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: x-large;
}

.home-page-text h2 {
    font-size: 2.5rem;
}

.home-page-text p {
    font-size: 1.4rem;
}

.content {
    margin-top: 80px;
}

#headingGroup h1 {
    font-size: 3.5rem;
}

.home-block {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }

    .home-page-text h2 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .home-page-text p {
        font-size: 1.1rem;
    }
}
