.navbar {
    /*position: absolute;*/
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

a.navbar-brand {
    font-size: xx-large;
    transition: transform .3s;
}

a.navbar-brand:hover {
    transform: scale(1.5);
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: #3B4B59;
}

.navbar-nav img {
    margin-left: 0.7rem;
    width: 1.8rem;
    transition: transform .2s;
}

.navbar-nav img:hover {
    position: relative;
    transform: scale(1.5);
    z-index: 2;
}

.hodnotenie-delete {
    position: absolute;
    top:10px;
    right:10px;
}

.icons {
    margin: auto;
}

#instagramIcon:hover {
    filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(314deg) brightness(92%) contrast(95%);
}
#facebookIcon:hover {
    filter: invert(37%) sepia(92%) saturate(390%) hue-rotate(180deg) brightness(90%) contrast(89%);
}
#phoneIcon:hover {
    filter: invert(70%) sepia(60%) saturate(522%) hue-rotate(42deg) brightness(93%) contrast(81%);
}


